<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETS-CRUD Show</title>
</head>
<body>
    <h1>Show Pet</h1>
    <a href="/pets">Go back</a>
    <br/>
    <h2>Esta es la mascota</h2>
    <li>
        My name is <%= pet.name %> My age is <%= pet.age %> and I am a <%= pet.type %>
        
    </li>
</body>
</html>